body
{
	margin:0;
}

#game-board
{
	position: absolute;
	width:100%;
	height:100%;
	max-width: 500px;
	max-height: 888px;
	background-color: #000000;
	padding:0px;
	margin:0px;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: bottom;
	background-size:100%;
	background-image: url('../images/bg.jpg');
}


.dot
{
	position:absolute;
	width:50px;
	height:50px;
	
	/*background-color:rgba(255,0,0,0.1);*/
	background-repeat: no-repeat;
	background-position: bottom;
	background-size:auto 100%;
	background-image: url('../images/fireball.png');
	
}

.hero
{
	position:absolute;
	
	width:70px;
	height:100px;
	/*background-color:rgba(255,0,0,0.7);*/
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 100%;
	/*background-image: url('../images/character_one.png');*/
	left:50%;
	top:55%;
	
	z-index: 100;

}

.hero_one
{
	background-image: url('../images/character_one.png');
}

.hero_two
{
	background-image: url('../images/character_two.png');
}

#hero_one
{
	width:100px;
	height:130px;
	margin-left:-100px;
	
}

#hero_two
{
	width:100px;
	height:130px;
	margin-left: 20px;
	
}

.ui-text-normal
{
	font-family:Helvetica, Arial, sans-serif;
	font-size:38px;
	font-weight: bold;
	cursor:pointer;
	color:#bbbbbb;
}

.ui-text-small
{
	font-family:Helvetica, Arial, sans-serif;
	font-size:24px;
	font-weight: bold;
	cursor:pointer;
	color:#bbbbbb;
}

.ui-btn
{
	position: absolute;
	width: 100px;
	height: 50px;
	line-height: 50px;
	background-color: white;
	border-radius: 10px;
}

#replay
{
	display: none;
	text-align:center;
	top:70%;
	left:50%;
	margin-left:-50px;
	margin-top:-70px;
}

#menu
{
	display: none;
	text-align:center;
	top:70%;
	left:50%;
	margin-left:-50px;
	margin-top:-5px;
}

#score
{
	position: absolute;
	width:400px;
	height:200px;
	line-height: 50px;
	
	text-align:center;
	top:40%;
	left:50%;
	margin-left:-200px;
	margin-top:-100px;
	
}

#choose
{
	position: absolute;
	width:400px;
	height:200px;
	font-size: 48px;
	line-height: 50px;
	text-align:center;
	top:40%;
	left:50%;
	margin-left:-200px;
	margin-top:-100px;
	
}

#lives
{
	position: absolute;
	width:200px;
	
	
	text-align:center;
	top:40%;
	left:50%;
	font-size:38px;
	margin-left:-100px;
	margin-top:-145px;
	
}
